.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #444;
}

.incidentRow {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}
.incidentRow:hover {
    background-color: #333; /* Same hover color as table */
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust as needed */
}

.item {
    flex: 1;
    border-radius: 4px;
    background-color: #444;
}

.item:hover {
    background-color: #333;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.name {
    font-size: 1.1rem;
    font-weight: 500;
}

.location {
    margin-bottom: 0.25rem;
}

